$brand-light:#eee;
$brand-primary:#27ad8c;
$brand-secondary:#333;
$brand-dark:#17b69e;
$brand-grey:grey;

$font-sas-serif:Georgia,Times,serif;/*variables*/
$font-stack-sans-serif:Helvetica,Arial,sans-serif;

$font-base:16px;
$font-large:40px;